body {
   background-color:#9b98b8;
   margin: 0;
   display: flex;
   justify-content: center;
}

.main {
  max-width: 430px;
  background-color: #454073;
}

.noscrolly {
  position: relative;
  padding: 0;
  max-width: 430px;
  margin: 0 auto;
  color: #ffff;
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #454073;
}

.article {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
}

p {
  padding-left: 40px;  
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lead{
  hyphens: manual;
  text-align: center;
  font-size: 16px;
}

.figure {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto; 
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  width: 430px;
  height: 100vh;
}

.step {
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100vh;
}

.step p {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: white;
  background-color: hsla(246, 28%, 35%, 0.8);
}

.sticky-img {
  margin: 0 auto;
  width: 430px;
  height: 932px;
  object-fit: scale-down;
  overflow: hidden;
}

.titel {
  background-color:#454073;
  color:rgb(255, 255, 255);
  padding: 30px;
  padding-top: 260px;
  padding-bottom: 260px;
  font-size: 42px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.style-picker {
  -webkit-appearance: none;
  appearance: none;
  background: hsla(0, 0%, 100%, 0.5);
  width: 200px;
  height: 30px;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position:absolute;
  color: #454073;
  border-radius: 10px;
  border: none
}