html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.style-picker {
  -webkit-appearance: none;
  appearance: none;
  background: hsla(0, 0%, 100%, 0.5);
  width: 200px;
  height: 30px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position:absolute;
  color: #454073;
  border-radius: 10px;
  border: none
}